@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">創新進取</h5>
                        <p>我們鼓勵團隊成員勇於創新，不斷尋找新的解決方案，並積極探索新的商機和市場。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">品質至上</h5>
                        <p>我們堅持追求卓越品質，以確保產品和服務的優質水準，並滿足客戶的需求。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5 class="mb-3">客戶至上</h5>
                        <p>我們以客戶為中心，不斷努力為客戶提供專業、周到的服務，並建立長期穩固的合作關係</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-handshake text-primary mb-4"></i>
                        <h5 class="mb-3">合作共贏</h5>
                        <p>我們重視與合作夥伴之間的合作關係，以誠信、合作和共贏為基礎，攜手共同發展，共享成功的果實。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../images/20240420_045654717_iOS.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">關於我們</h6>
                @*<h1 class="mb-4">Welcome to eLEARNING</h1>*@
                <p class="mb-4">
                    宏羿布業有限公司是一家位於臺北縣樹林鎮的知名布料批發商。我們的公司起源於20多年前的強金利針織有限公司，當時是當地紡織業的一支重要力量。<br />

                    經過多年的努力和轉型，我們成功地蛻變成了一家專業的布料批發商。我們與各家成衣工廠合作，提供物美價廉的布料，為客戶提供一站式的采購服務。<br />

                    我們以優質的產品和耐心的服務贏得了眾多客戶的信賴和支持。無論您是大型生產廠商還是個人創業者，我們都將竭誠為您服務，提供最適合您需求的產品。<br />

                    作為一家負責任的企業，我們致力於不斷提高產品質量，優化服務水平，並與客戶攜手共創美好未來。<br />                   
                </p>            
            </div>
        </div>
    </div>
</div>
<!-- About End -->
